.sec-font-color {
    color: #f96d00;
}
.nav-link.active, .nav-link:hover {
    color: #f96d00 !important;
}
.btn {
    background-color: #f96d00;
    color: #f1f8ff;
}
.btn:hover, .btn:focus{
    background-color: #fff;
    color: #f96d00;
}
.nav-link {
    font-size: 20px;
}
.hero-parallax-img {
    top: 0%;
    right: 0;
    width: 130%;
}
.img-1 {
    border-top-left-radius: 10px;
}
.img-2 {
    border-top-right-radius: 10px;
}
.img-3 {
    border-bottom-left-radius: 10px;
}
.img-4 {
    border-bottom-right-radius: 10px;
}
.about {
    background: url('../../public/about-bg.jpg');
    background-size: cover;
    background-postion: center/center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
}
.orange-box {
    background-color: #f96d00;
}
.specialty {
    background: url('../../public/specialty-bg.jpg');
    background-size: cover;
    background-postion: center/center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
}
svg {
    fill: #F1F8FF;
    width: 2rem;
}
.register-body {
    background: url('../../public/register-bg.jpg');
    background-size: cover;
    background-postion: center/center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
}
.wrapper{
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    width: 80%;
    max-width: 50rem;
    margin: 0 auto;
}
.form-control, .form-select {
    background: rgba( 255, 255, 255, 0.5 );
}
.form-control:focus {
    background: rgba( 255, 255, 255, 0.3 );
    color: #fff;
}
.form-select option {
    width: 50%;
}
.offcanvas-lg {
    width: 230px !important;
    z-index: 999 !important;
}
.dashboard-content {
    width: 100%;
    margin-left: 0;
}
.dashboard-image img {
    animation: imageRotate 50s linear infinite;
}
.card-img-overlay {
   background: rgba( 0, 0, 0, 0.5 ) !important; 
   height: 200px;
}
.card-img-top, .card-img {
    height: 200px;
}
@keyframes imageRotate {
    100% {
        transform: rotate(360deg);
    }
}
@media (min-width: 600px) {
    .img-height {
        height: 99%;
    }
}
@media (min-width: 800px) {
    .about-height {
        height: 290px;
    }
    .hero-parallax-img {
        top: -10rem;
        right: -10rem;
        width: 80vw;
    }
    .offcanvas-lg {
        margin-top: 4rem !important;
    }
    .dashboard-content {
        width: calc(100% - 230px);
        margin-left: 230px;
    }
}